<h1><strong>MOODIMIZER</strong></h1>

<div class="container">

  <%= form_for(@user, :html => {:class => 'form-signup'}) do |f| %>
      <h2 class="form-signin-heading"><strong>Sign Up</strong></h2>
	    <div class="form-group">
          <%= f.label :username %>
        <div class="col-md-5">
          <%= f.text_field :username %>
        </div>
      </dvi>
			<br>
	    <div class="form-group">
          <%= f.label :email %>
        <div class="col-md-5">
          <%= f.text_field :email %>
        </div>
      </dvi>
			<br>
	    <div class="form-group">
          <%= f.label :password %>
        <div class="col-md-5">
          <%= f.text_field :password %>
        </div>
      </dvi>
			<br>
	    <div class="form-group">
          <%= f.label :password_confirmation %>
        <div class="col-md-5">
          <%= f.text_field :password_confirmation %>
        </div>
      </dvi>
			<br>
      <div class="text-centered">
        <%= f.submit "Create my account", class: "btn btn-large btn-info" %>
		    <%= link_to "Login", new_session_path, class: 'btn btn-success' %>
			</div>
  <% end %>

</div>
<%= link_to 'Cancel', users_path %>

	    <div class="form-group">

		  <div class="col-md-5">
