<h1>Welcome, <%= @user.username %>!</h1>


<% @user.events.each do |e| %>
  <p><%= e.name %></p>
  <p><%= e.address %></p>
  <p><%= e.date %></p>

<% end %>

<div class="btn-group">
  <%= link_to 'Edit Profile', users_edit_path, class: "btn btn-info" %>

  <%= link_to 'Delete an event', events_destroy_path, method: :delete, class: "btn btn-info" %>
  <br>
  <%= link_to "HOW YOU FEELIN'?", user_path, class: "btn btn-info" %>
</div>
