<h1>Welcome, <%= @user.username %>!</h1>


<% @user.events.each do |u| %>
  <p><%= u.name %></p>
  <p><%= u.url %></p>


<div class="text-center" style="display:block;">
  <div class="row">
    <div class="col-xs-12 col-md-10">
      <div class="btn-group">
        <%= link_to 'Add an event', events_new_path, class: "btn btn-primary" %>
      </div>
      <div class="btn-group">
        <%= link_to 'Edit an event', events_edit_path, class: "btn btn-primary" %>
      </div>
      <div class="btn-group">
        <%= link_to 'Delete an event', events_destroy_path, method: :delete, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12 col-md-9">
      <div class="container">
        <%= link_to 'Edit Profile', users_edit_path, class: "btn btn-block btn-primary" %>
    </div>
  <br>
  <div class="row">
    <div class="col-xs-12 col-md-10">
      <div class="container">
          <%= link_to "HOW YOU FEELIN'?", user_path, class: "btn btn-block btn-info" %>
      </div>
    </div>
  </div>
</div>


<% end %>
