<h1>Welcome, <%= @user.username %>!</h1>


<% @user.events.each do |e| %>
  <p><%= e.name %></p>
  <p><%= e.url %></p>

<% end %>

<div class="text-center">
  <div class="row">
    <div class="col-md-8">
      <div class="btn-group">
        <%= link_to 'Edit Profile', users_edit_path, class: "btn btn-info" %>
      </div>
      <div class="btn-group">
        <%= link_to 'Delete an event', events_destroy_path, method: :delete, class: "btn btn-info" %>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-8">
      <div class="btn-group" style="display:inline:block">
          <%= link_to "HOW YOU FEELIN'?", user_path, class: "btn btn-info" %>
      </div>
    </div>
  </div>
</div>
