<h1>Events#new</h1>
<p>Find me in app/views/events/new.html.erb</p>

<div class="container">

<%= form_for(@event) do |e| %>
      <h2 class="form header">Add an event!</h2>

    <%= e.label :name %>
    <%= e.text_field :name %>
		<br>
    <%= e.label :url %>
    <%= e.text_field :url %>

    <!-- add mood -->

  <div class="text-centered">
    <%= e.submit "Add event", class: "btn btn-large btn-info" %>
    <%= link_to "Cancel", events_path, class: 'btn btn-primary' %>
	</div>
</div>

<% end %>
