<h1>Events#new</h1>

<div class="container">

<%= form_for(@event) do |e| %>
      <h2 class="form header"><strong>Add an event!</strong></h2>

    <%= e.label :name %>
    <br>
    <%= e.text_field :name %>
		<br>
    <%= e.label :url %>
    <br>
    <%= e.text_field :url %>
    <br>
    <%= e.label :mood %>
    <br>
    <%= e.text_field :mood %>

    <!-- add mood -->


<br>
<br>

  <div class="container">
    <%= e.submit "Add event", class: "btn btn-large btn-info" %>
    <%= link_to "Cancel", moods_path, class: 'btn btn-primary' %>
	</div>
</div>

<% end %>
