<br>
<br>
<div class="moodnail">
  <p><%= @mood.name %></p>
  <p><%= image_tag(@mood.image) %></p>
</div>

<br>
<br>
<br>


<div class="eventBox">
<hr>
<% @mood.events.each do |m| %>
  <h4><strong><%= m.name %></strong></h4><p><%= link_to m.url, "http://#{m.url}" %></p>
<hr>
<% end %>
</div>



<div class="button-show">
  <hr>
  <%= link_to 'Add an event', events_new_path, class: 'btn btn-success' %>
  <%= link_to 'Back to Moods', moods_path, class: 'btn btn-info' %>
</div>
